.content{
    grid-area: c;

}
.contentMain{
    width: 100%;

}
.userInfoMain{
    display: flex;

}
.avatar{
    margin: 30px 50px;

}
.userInfo{
    margin-top: 30px;
}
.userInfo p{
    margin: 0;
    padding: 0;

}
.avatar img{
    max-width: 300px;
    border-radius: 50%;
}
.backgroundImg img {
    border-radius: 10px;
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
}
.postsForm{
    max-width: 600px;
    margin: 0 auto;
}
.postsInput{
    background: white;
    border: 1px solid black;
    width: 100%;
    height: 40px;
}
